body {
    background: #E8F5E9;
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #FF3399;
    padding: 0.5em 1em;
}

.deleteButton {
    background: #FF99CC;
    margin-left: 1em;
}

.completeItem {
    color: #FF3399;
    text-decoration: line-through;
}

section,
h1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: block;
    font-size: 34px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.87);
}
